

<script src="${ctx}/js/adminPage/select_root.js?v=${jsrandom}" type="text/javascript"></script>
<div style="height: 0px; width: 0px; overflow: hidden;">
	<!-- 弹出框 -->
	<div id="rootSelectDiv" style="padding: 15px; display: none;">
		<ul id="rootSelect" class="ztree" style="height: 400px; overflow: auto;" onclick="cancelSelect()"></ul>

		<div class="layui-form" style="text-align: center; margin-top: 20px;">
			<div class="layui-inline" id="selectOver">
				<button type="button" class="layui-btn layui-btn-sm" onclick="selectOver()">选择选中项</button>
			</div>
			<div class="layui-inline" id="selectRootOver">
				<button type="button" class="layui-btn layui-btn-sm" onclick="selectRootOver()">选择根目录</button>
			</div>
			<div class="layui-inline" id="download">
				<button type="button" class="layui-btn layui-btn-sm" onclick="download()">下载</button>
			</div>
			<div class="layui-inline" id="mkdir">
				<button type="button" class="layui-btn layui-btn-sm" onclick="mkdir()">创建文件夹</button>
			</div>
			<div class="layui-inline" id="rmfile">
				<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="rmfile()">删除文件</button>
			</div>
			<div class="layui-inline">
				<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="rootSelect.close()">关闭</button>
			</div>

		</div>
	</div>
</div>